#bg-video {
  position: fixed;
  top: 0;
  left: 0;
width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; /* keeps video behind other content */
}

.hero{
   background-image: url(images/background1.png);
  background-repeat: no-repeat;
  background-size:cover ;
  color: #fff;
  width: 100%;
  
}
.container {
  width: 45%;
  margin: 150px auto 50px;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
}


.container img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  border-radius: 15px;
  margin-bottom: 25px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}


h2 {
  color: #00ff99;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 40px;
  font-style: italic;
}

p {
  color: #ddd;
  font-size: 17px;
  line-height: 1.6;
  margin-top: 15px;
  margin-bottom: 15px;
}


.price {
  font-size: 22px;
  font-weight: 700;
  color: #030404;
  font-style: italic;
  margin-bottom: 20px;
}


.btn {
  display: inline-block;
  margin-top: 10px;
  padding: 12px 25px;
  background: linear-gradient(135deg, red, blue);
  color: black;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px black;
}

.btn:hover {
  background: linear-gradient(135deg, blue, red);
  box-shadow: 0 6px 14px rgb(0, 4, 255);
  transform: scale(1.05);
}


footer {
  height: 120px;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 20px 50px;
  font-size: 14px;
  margin-top: 100px;
}


.customer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0;
  margin-top: 15px;
}

.customer ul li a {
  text-decoration: none;
  color: white;
  transition: 0.3s ease;
  font-weight: 500;
}

.customer ul li a:hover {
  color: limegreen;
  text-decoration: none;
}
