* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
  background: rgba(42, 42, 42, 0.6);
  border-bottom: 1px solid #f1f0f0;
  backdrop-filter: blur(10px);
  flex-wrap: wrap;
  z-index: 1000;
}

.logo img {
  margin-top: -50px;
  width: 200px;
  height: 200px;
}


.search-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

.search-bar {
  width: 350px;
  padding: 8px 14px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  outline: none;
  margin-top: -50px;
}


.dropdowns {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.dropdown {
  position: relative;
}

.dropbtn {
  background: linear-gradient(135deg, red, blue);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
  transition: 0.3s;
}

.dropbtn:hover {
  background: linear-gradient(135deg, blue, red);
  transform: scale(1.05);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  min-width: 140px;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;
}

.dropdown-content a {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 10px 12px;
  display: block;
  text-decoration: none;
  transition: 0.3s;
}

.dropdown-content a:hover {
  background-color: #ffd900;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.nav-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -50px;
}

.nav-buttons button {
  background: linear-gradient(135deg, red, blue);
  color: black;
  font-style: italic;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 6px 12px;
  cursor: pointer;
  transition: 0.3s;
}

.nav-buttons button:hover {
  background: linear-gradient(135deg, blue, red);
  transform: scale(1.05);
}